html {
  overflow-x: hidden;
  background-color: #262B30;
}

body {
  background-color: #262B30;
}

h3 {
  color: #fff;
}
h2{
  font-size: 16px;
  font-weight: 700;
}

.col-sm-3{
	margin-top: 2%;
}

/*user input*/
#search{
  width: 100%;
  height: 45px;
  font-size: 18px;
}
/*submit button*/


/*results display*/
#results{
  font-family: sans-serif;
  text-align: center;
}

/*JavaScript created items*/
.item {
  height:250px;
  padding-top:20px;
  border-bottom: 5px solid black;
}
.item img {
  width: 128px;
  height: 200px;
  float: right;
}

